/* From Uiverse.io by alexmaracinaru */ 
.card-profile {
 width: 400px;
 height: 290px;
 background: rgba(27, 33, 44, 0.85);
 border-radius: 15px;
 box-shadow: 1px 5px 60px 0px rgba(180, 170, 200, 0.5);
}

.card-profile .card-border-top {
 width: 60%;
 height: 3%;
 background: #f1f1f1;
 margin: auto;
 border-radius: 0px 0px 15px 15px;
}

.card-profile span {
 font-weight: 600;
 color: white;
 text-align: center;
 display: block;
 padding-top: 10px;
 font-size: 16px;
}

.card-profile .job {
 font-weight: 400;
 color: white;
 display: block;
 text-align: center;
 padding-top: 3px;
 font-size: 12px;
}
.card-profile .img {
    width: 90px;
    height: 90px;
    background-size: cover;        /* Para que la imagen se ajuste */
    background-position: center;   /* Centrada */
    background-repeat: no-repeat;  /* Sin repetir */
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
}

.card-profile .img.diego {
    background-image: url('../assets/img/diego.jpeg');
}
.card-profile .img.alejandro {
    background-image: url('../assets/img/perfil_ale.jpeg');
}
.card-profile .img.brian {
    background-image: url('../assets/icons/icono_perfil.png');
}
.card-profile .img.img.samantha {
    background-image: url('../assets/icons/icono_perfil.png');
}
.card-profile .img.gladis {
    background-image: url('../assets/icons/icono_perfil.png');
}
.card-profile .img.manuel {
    background-image: url('../assets/img/min.gif')
}
.card-profile button {
 padding: 8px 25px;
 display: block;
 margin: auto;
 border-radius: 8px;
 border: none;
 margin-top: 30px;
 background: rgb(19, 79, 127);
 color: white;
 font-weight: 600;
}

.card-profile button:hover {
 background: rgb(175, 180, 200);
 color: black;
}

body {
  height: 100vh; /* Ocupa toda la pantalla */
  background-image: url('../assets/img/background.jpg');
  background-size: cover; /* Ensures the image covers the entire body */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image repetition */
}