<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Gladis</title>
</head>
<body class="fondo-1">
    <div class="contenedor-principal">
        <div class="gladis-card">
            <h2>{{ nombre }}</h2>
            <p><strong>Carrera:</strong> {{ carrera }}</p>
            <p><strong>Me gusta:</strong> {{ gusto }}</p>
        </div>
        
        <button class="btn-volver" routerLink="/">Volver</button>
    </div>

</body>
</html>